Package: com.fortysixandtwo.percentext
Name: Percentext
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Replaces your battery percentage value with text
Maintainer: magn2o
Author: magn2o
Section: Tweaks
